    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Health Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page">
    <div class="main-card">

        <h1 class="title">🩺 Smart Health Assistant</h1>
        <p class="subtitle">Your friendly AI-based health helper for quick guidance</p>

        <div class="card-container">

            <!-- BMI CARD -->
            <a href="/bmi" class="card">
                <h3>📊 BMI Calculator</h3>
                <p>Check your Body Mass Index and health category.</p>
            </a>

            <!-- SYMPTOM CARD -->
            <a href="/symptom" class="card">
                <h3>🤒 Symptom Checker</h3>
                <p>Get possible causes for common symptoms.</p>
            </a>

            <a href="/guidance" class="card">
                <h3>🧠 Smart Guidance</h3>
                <p>Simple and educational health tips.</p>
            </a>

            </a>
            <a href="/cycle" class="card">
                <h3>🌸 Menstrual Tracker</h3>
                <p>Track periods, ovulation & fertile days.</p>
            </a>

            <a href="/bp" class="card">
                <h3>🩺 BP Checker</h3>
                <p>Check your blood pressure status instantly</p>
            </a>

            <a href="/diabetes" class="card">
                <h3>🩸 Diabetes Checker</h3>
                <p>Check your blood sugar status instantly</p>
            </a>
            <a href="/water" class="card">
                <h3>🥤 Water Tracker</h3>
                <p>Calculate your daily water requirement</p>
            </a>
            <a href="/water-reminder" class="card">
                <h3>⏰ Water Reminder</h3>
                <p>Reminds you to drink water every 2 hours</p>
            </a>
            <a href="/medicine" class="card">
                <h3>💊 Medicine Checker</h3>
                <p>Check medicine uses & safety</p>
            </a>

        </div>

        <p class="disclaimer">
            ⚠️ This website is for educational purposes only. It does NOT replace professional medical advice.
        </p>

    </div>
</div>

</body>
</html>
